<template lang="pug">
hr.rmit-spacer(:class="limitClass")
</template>

<script lang="js">
export default {
    props: {
        limit: Boolean,
        'limit-large': Boolean,
    },

    computed: {
        limitClass() {
            return [
                this.limit ? 'rmit-spacer__limit' : '',
                this.limitLarge ? 'rmit-spacer__limit--large' : '',
            ];
        },
    },
};
</script>

<style lang="sass">
.rmit-spacer
	border-top: 1px solid #dfdfdf
	margin: 0 auto
	width: 100%

	&__limit
		+media(min-tablet)
			max-width: 628px

		+media(min-desktop)
			max-width: 1080px

		// Designs for FS course industry icons
		&--large
			+media(min-desktop)
				max-width: 1240px
</style>
