<template lang="pug">
.rmit-container
    slot
</template>

<script lang="js">
export default {
    name: 'RmitoContainer',
};
</script>

<style lang="sass" scoped>
.rmit-container
    width: 100%
    padding-left: var(--container-side-spacing)
    padding-right: var(--container-side-spacing)

    @media($min-extra-large)
        margin: 0 auto
        max-width: 1680px
</style>
