=add-font($name, $weight, $style: normal)
	$path: "@/assets/fonts/HelveticaNeue/" + $name + "/" + $name
	@font-face
		font-family: "HelveticaNeue"
		src: url("#{$path}.woff2") format("woff2"), 
		url("#{$path}.woff") format("woff")
		font-weight: $weight
		font-style: $style