=form_input ()
    .v-input
        ::v-deep .v-input__slot
            background: $c-gel-white !important
            border-width: 1px !important
            border-style: solid
            border-color: $c-input-border !important
            transition: none
            padding: 0 12px !important
            &:hover
                border-width: 1px !important
                border-color: $c-input-hover-border !important

            &:focus,
            &:active,
            &:focus-within
                outline: none
                box-shadow: none
                border-color: $c-input-hover-border !important

        ::v-deep &.v-input--has-state
            &> .v-input__control
                &> .v-input__slot
                    border-color: currentColor !important
