<script lang="ts" setup>
import { useHomeStore } from '../../store'
import RmitAreasOfStudy from '@/components/RmitAreasOfStudy'
// import RmitCourseCategoryFooterLink from '@/app/info-architecture/components/RmitCourseCategoryFooterLink';

const home = useHomeStore()
</script>

<template lang="pug">
RmitAreasOfStudy.rmit-home-core-study-areas(
    title="Browse our core study areas"
    ga-event="clickBrowseCategory"
    :areas="home.coreStudyAreas")
    //- template(v-slot:footer)
    //-     rmit-course-category-footer-link(href="/courses" v-ga="{ event: 'clickBrowseAllStudyOptionsLower' }") All courses & degrees
</template>

<style lang="sass" scoped>
.rmit-home-core-study-areas
    &::v-deep
        .rmit-course-category-section-header
            text-align: center
</style>
