<template lang="pug">
section.rmito-value-props(:class="classes")
    rmito-container
        h2.rmito-value-props__title {{ title }}
        p.rmito-value-props__subtitle {{ subtitle }}
        .rmito-value-props__container
            rmito-value-prop(
                v-for="tile in formattedTiles" 
                :title="tile.title"
                :body="tile.body")
                component(:is="tile.img")
</template>

<script lang="js">
import RmitoContainer from '~/components/RmitoContainer'
import RmitoValueProp from '~/components/RmitoValueProp'
import SvgCertificate from '@/assets/img/svg/Certificate.svg'
import SvgIndustry from '@/assets/img/svg/Industry.svg'
import SvgRealWorld from '@/assets/img/svg/RealWorld.svg'
import SvgSupport from '@/assets/img/svg/Support.svg'

const images = {
    certificate: SvgCertificate,
    industry: SvgIndustry,
    realWorld: SvgRealWorld,
    support: SvgSupport
}

export default {
    name: 'RmitoValueProps',

    components: {
        RmitoValueProp,
        RmitoContainer
    },

    props: {
        title: {
            type: String,
            default: 'Why choose RMIT Online'
        },
        subtitle: {
            type: String,
            default: 'Get a world-class education and transform your career.'
        },
        secondary: Boolean,
        fullWidth: Boolean,
        nonCredentialed: {
            type: Boolean,
            default: false
        },
        tilesOverride: {
            type: Array,
            validator: (tilesArray) => {
                if (tilesArray.length === 0) {
                    return true
                }

                return tilesArray.every(tile =>
                    tile.title && tile.body && tile.img
                )
            },
            default: () => []
        }
    },

    computed: {
        tiles () {
            return [
                {
                    title: 'Real world skills',
                    body: `Develop skills that have been validated by industry, while getting ${ this.nonCredentialed ? 'recognised' : 'credentialed' } by a world-leading university.`,
                    img: 'certificate'
                },
                {
                    title: 'Industry connected',
                    body: 'You\'ll gain knowledge and practical skills from renowned industry partners who are at the forefront of their field.',
                    img: 'industry'
                },
                {
                    title: 'Flexible delivery',
                    body: 'Advance your career while you study. RMIT Online courses let you balance work, study and life commitments.',
                    img: 'realWorld'
                },
                {
                    title: 'Supported community',
                    body: 'Be guided by a network of industry experts and peers, and supported by our dedicated success team.',
                    img: 'support'
                }
            ]
        },

        formattedTiles () {
            const tiles = this.tilesOverride.length > 0 ? this.tilesOverride : this.tiles

            return tiles.map(tile => ({
                ...tile,
                img: images[tile.img]
            }))
        },

        classes () {
            return {
                'rmito-value-props--secondary': this.secondary,
                'rmito-value-props--full': this.fullWidth
            }
        }
    }
}
</script>

<style lang="sass" scoped>
.rmito-value-props
    color: $c-gel-black
    text-align: center
    padding-top: var(--section-vertical-spacing)
    padding-bottom: var(--section-vertical-spacing)

    &__title
        font-size: 28px
        margin-bottom: 10px

    &__subtitle
        font-size: 20px
        font-weight: normal
        line-height: 1.5
        padding: 0 15px

    &__container
        display: grid
        row-gap: 20px

    &::v-deep
        .rmito-value-prop__body
            margin-left: auto
            margin-right: auto
            max-width: 280px

    @media($min-small)
        padding-bottom: 60px

        &__title
            font-size: 36px

        &__subtitle
            font-size: 24px
            line-height: 1.25
            margin: 0 auto 40px
            max-width: 340px

        &__container
            grid-gap: 40px
            grid-template-columns: 1fr 1fr

        &::v-deep
            .rmito-value-prop__body
                max-width: none

    @media($min-medium)
        &::v-deep
            .rmito-value-prop__body
                width: 86.42%
                margin: 0 auto

    @media($min-large)
        &__subtitle
            max-width: none
            margin-bottom: 76px

    @media($min-extra-large)
        &__subtitle
            font-size: 22px
            margin-bottom: 40px

        &__container
            display: flex
            justify-content: space-between
            width: 100%
            max-width: 1243px
            margin: 0 auto

        &::v-deep
            .rmito-value-prop__body
                width: 100%
                max-width: 280px

    // Secondary styles
    &--secondary
        .rmito-value-props
            &__title
                margin-bottom: 20px

        ::v-deep
            .rmito-value-prop
                &__title
                    font-size: 24px
                    font-weight: 500

    // Full screen styles
    &--full
        .rmito-value-props
            &__container
                row-gap: 0px
                max-width: unset

        ::v-deep
            .rmito-value-prop
                margin-bottom: 30px

                @media($min-extra-large)
                    margin-bottom: 0px

                &__body
                    max-width: 380px !important
</style>
