// @import '../mixins/add-font'

// +add-font($name: "thin", $weight: 200)
// +add-font($name: "light", $weight: 300)
// +add-font($name: "normal", $weight: 400)
// +add-font($name: "medium", $weight: 500)
// +add-font($name: "bold", $weight: 600)

\:root
    --font-small: 15px
    --font-medium: 18px
    --font-regular: 18px
    --font-large: 20px

    --line-height-small: 22px
    --line-height-medium: 22px
    --line-height-regular: 27px
    --line-height-large: 25px

    @media($min-medium)
        --font-regular: 20px
        --line-height-regular: 30px

    @media($min-large)
        --font-medium: 20px
        --font-large: 24px
        
        --line-height-medium: 30px
        --line-height-large: 32px

// Font Classes
.rmito-font
    &-label
        &--description
            font-size: var(--font-large)
            line-height: var(--line-height-medium)

        &--kicker
            font-size: 16px
            font-weight: 400
            color: $c-navy

            @media($min-medium)
                font-size: 20px


        &--description
            font-weight: 300

    &-button 
        font-size: var(--font-medium) !important
        line-height: var(--line-height-medium) !important

    &-link
        &--tiny
            font-size: var(--font-small)
            line-height: var(--line-height-small)

    &-medium
        weight: 400
        font-size: var(--font-regular)
        line-height: var(--line-height-medium)

    &-body
        // Description stays the same size on all view ports based on the design system
        &--description
            font-size: 15px
            line-height: 22px
            font-weight: 400

        &--medium
            font-size: var(--font-medium)
            line-height: var(--line-height-medium)
            font-weight: 500

        &--regular
            font-size: var(--font-medium)
            line-height: 27px
            font-weight: 400

            @media($min-large)
                line-height: 30px

// Legacy
.rmito-section-header
    font-size: 1.87em
    margin-bottom: 20px

    @media($min-small)
        font-size: 2em
        line-height: 1.43
        margin-bottom: 30px

    @media($min-large)
        font-size: 2.4em
        line-height: 1.19