// THIS FILE IS NOT TO BE USED IN COMPONENT FILES. STRICTLY FOR OVERWRITING THE DEFAULT SETTINGS OF THE APP.
@import '../mixins/media'
@import '../base/font'

$body-font-size: 30px
$heading-font-color: #000054
$bg-color: white

// -- Start: from vuetify
*
  background-repeat: no-repeat
  padding: 0
  margin: 0
// -- End: from vuetify

*,
*::before,
*::after
  box-sizing: border-box

// Fixes
// List item was showing a point which is now removed.
li
    &:before
        display: none !important
        content: '' !important

// Reset
h1
  font-size: 32px
  line-height: 1.13
  +media(min-tablet)
    font-size: 40px
  +media(desktop)
    font-size: 48px
h2
  font-size: 24px
  line-height: 1.13
  +media(min-tablet)
    font-size: 32px

h3
  font-size: 15px
  +media(desktop)
    font-size: 24px
    line-height: normal
h4
  font-size: 18px

h1, h2
    font-weight: 300

h3, h4
    font-weight: 500

.subtitle
  font-size: 15px
  font-weight: 300
  line-height: 1.64
  +media(tablet)
    font-size: 22px
  +media(tablet-large)
    font-size: 22px
  +media(desktop)
    font-size: 22px

// To handle the fixed header container with the global nav
body
    font-family: $font-main
    padding-top: var(--nav-primary-height)
    font-family: $font-main !important
    +media(min-desktop)
        padding-top: calc(#{ var(--nav-primary-height) } + #{ var(--nav-secondary-height) })


html
    text-decoration: none
    // -- Start: from vuetify
    font-size: 14px
    overflow-x: hidden
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    box-sizing: border-box
    overflow-y: scroll
    -webkit-text-size-adjust: 100%
    // -- End: from vuetify

    a
        color: #0078ff
        text-decoration: none

    h1, h2, h3, h4, h5, h6
        color: $heading-font-color
        &.subtitle
            color: $c-gel-dark-grey
        &.color
            &-blue
                color: #000054 !important
    ul
        li
            margin: 0 0 1rem
            line-height: 1.47
            &.d-inline-flex
              padding-right: 15px
            &:before
                content: '\2022'
                display: block
                position: relative
                left: 0
                width: 15px
                font-weight: bold
                font-size: 24px
                line-height: 1
        &.p-0
            padding: 0
        &.m-0
            margin: 0

    .tablet
        h2
            font-size: 32px

    .desktop
        h1
            font-size: 48px
            line-height: 1.13
        h2
            font-size: 32px
            line-height: 1.13
        h3
            font-size: 24px
            line-height: normal
        .subtitle
            font-size: 22px

    .theme--light
        &.application
            background: $bg-color
            color: black

    blockquote
      position: relative
      padding-left: 35px
      padding-right: 16px
      font-size: 16px

      &:before
        content: "\201C"
        display: block
        position: absolute
        top: 9px
        left: 0
        color: #000054
        font-size: 35px
        font-weight: bold

      p
        font-size: 16px

// -- Start: from vuetify
button, input, select, textarea
    background-color: transparent
    border-style: none
    color: inherit

button, select
    text-transform: none

[type=reset], [type=submit], button, html [type=button]
    -webkit-appearance: button

button
    overflow: visible

button, input, optgroup, select, textarea
    font: inherit

[role=button], [type=button], [type=reset], [type=submit], button
    cursor: pointer

p
  margin-bottom: 16px

abbr[title]
  border-bottom: 1px dotted
  text-decoration: none

ol, ul
  padding-left: 24px

.mb-3
  margin-bottom: 16px!important

.mr-2
  margin-right: 8px!important

.pl-2
  padding-left: 8px!important

.layout.column
  flex-direction: column

.justify-center
  justify-content: center

.layout
  display: flex
  flex: 1 1 auto
  flex-wrap: nowrap
  min-width: 0

.child-flex>*, .flex
  flex: 1 1 auto
  max-width: 100%

@media (min-width: 0)
  .flex.xs12
    flex-basis: 100%
    flex-grow: 0
    max-width: 100%

.container
  flex: 1 1 100%
  margin: auto
  padding: 24px
  width: 100%

  @media only screen and (min-width: 960px)
    max-width: 900px

  @media only screen and (min-width: 1264px)
    max-width: 1185px

.text-xs-center
  text-align: center!important
// -- End: from vuetify

.section
  .text
    &-small
      font-size: 12px


.grecaptcha-badge
  visibility: hidden

.error--text
  color: red !important

#app
  line-height: 1.5
  display: flex

.app-wrapper
  flex: 1 1 auto
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  display: flex
  flex-direction: column
  min-height: 100vh
  max-width: 100%
  position: relative

main
  font-size: 15px
  font-weight: 300
  line-height: 1.6
  transition: none
  display: flex
  flex: 1 0 auto
  max-width: 100%

  .main-wrapper
    flex: 1 1 auto
    max-width: 100%
    position: relative