@import '../base/breakpoints'

\:root
    --section-vertical-spacing: 40px
    --container-side-spacing: 20px
    --between-elements-spacing: 20px
    --body-copy-font-size: 1.29rem
    --nav-primary-height: 64px
    --nav-secondary-height: 35px

    @media($min-small)
        --container-side-spacing: 40px
        --between-elements-spacing: 40px

    @media($min-medium)
        --body-copy-font-size: 1.43rem
        --nav-primary-height: 67px

    @media($min-large)
        --section-vertical-spacing: 60px