<script type="ts" setup>
import moment from 'moment';
import { useAppState } from '@/store/app'
import { useAnalytics } from '@/composables'
import RmitOnlineLogo from '@/components/RmitoLogo';
import SvgHeaderPhoneIcon from '@/static/img/svg/header-phone-icon.svg';
import SvgChatIcon from '@/static/img/svg/chat.svg';
import SvgFacebook from '@/static/img/svg/facebook.svg';
import SvgLinkedin from '@/static/img/svg/linkedin.svg';
import SvgYoutube from '@/static/img/svg/youtube.svg';
import SvgTwitter from '@/static/img/svg/twitter.svg';
import SvgInstagram from '@/static/img/svg/instagram.svg';

const appState = useAppState()
const analytics = useAnalytics()

const copyrightText = computed(() => {
    // If the date cannot be retrieved from the server, fallback to the browser's date.
    const year = appState.currentYear || moment().year();
    return `© ${ year } RMIT University`;
})

function promptUserCall () {
    window.location.href = 'tel:1300145032';
}

function onCallIconClick () {
    analytics.event('clickFooterCallIcon', promptUserCall);
}
</script>

<template lang="pug">
footer.footer
    .footer__inner
        a(aria-label="RMIT Online home page" href="/")
            RmitOnlineLogo(variant="light")

        .footer__social
            .footer__social-media-links
                a.footer__social-media-link(
                    aria-label="RMIT Online Facebook"
                    href="https://www.facebook.com/RMITOnline/"
                    rel="nofollow noopener"
                    target="_blank"
                    @click="analytics.event('clickFooterFacebookIcon')")
                    SvgFacebook

                a.footer__social-media-link(
                    aria-label="RMIT Online Twitter"
                    href="https://twitter.com/RMITOnline"
                    rel="nofollow noopener"
                    target="_blank"
                    @click="analytics.event('clickFooterTwitterIcon')")
                    SvgTwitter

                a.footer__social-media-link(
                    aria-label="RMIT Online LinkedIn"
                    href="https://www.linkedin.com/school/rmit-online/"
                    rel="nofollow noopener"
                    target="_blank"
                    @click="analytics.event('clickFooterLinkedInIcon')")
                    SvgLinkedin

                a.footer__social-media-link(
                    aria-label="RMIT Online Instagram"
                    href="https://www.instagram.com/rmitonline/"
                    rel="nofollow noopener"
                    target="_blank"
                    @click="analytics.event('clickFooterInstagramIcon')")
                    SvgInstagram

                a.footer__social-media-link(
                    aria-label="RMIT Online Youtube"
                    href="https://www.youtube.com/channel/UCK1hm1z_Z62f6MldNqaoy6g"
                    rel="nofollow noopener"
                    target="_blank"
                    @click="analytics.event('clickFooterYoutubeIcon')")
                    SvgYoutube

            .footer__social-contacts
                a.footer__social-contact-link(data-test="social-phone" @click="onCallIconClick")
                    SvgHeaderPhoneIcon.footer__social-contact-icon
                    | 1300 145 032
                a.footer__social-contact-link(data-test="social-contact" href="/contact")
                    SvgChatIcon.footer__social-contact-icon
                    | Get in touch

        hr.footer__divider

        small.footer__copyright(v-text="copyrightText")

        nav.footer__nav
            a.footer__nav-link(href="/tos") RMIT Terms
            a.footer__nav-link(href="/rmit-online-terms") RMIT Online Terms
            a.footer__nav-link(href="/privacy") Privacy
            a.footer__nav-link(href="/faq") Frequently Asked Questions
</template>

<style lang="sass" scoped>
.rmit-online-logo
    margin-bottom: 22px
    max-width: 156px
    width: 100%

.footer
    background: #00002b
    color: white
    font-size: 14px
    z-index: 9

    a
        color: inherit

    svg
        display: block

    &__inner
        margin: 0 auto
        max-width: 1162px
        padding: 30px 23px
        width: 100%

        +media(min-tablet)
            padding: 60px 56px

        +media(min-desktop)
            padding-left: 40px
            padding-right: 40px

    &__divider
        background-color: rgba(255, 255, 255, .24)
        border: 0
        display: block
        height: 1px
        margin-left: 0
        max-width: 633px

    &__copyright
        display: block
        font-size: inherit
        margin-top: 30px

    &__social-media-links
        display: flex
        flex-wrap: wrap

    &__social
        align-items: center
        margin-bottom: 13px

        +media(min-tablet)
            display: flex
            flex-wrap: wrap

    &__social-media-links
        +media(min-tablet)
            margin-right: 27px

    &__social-media-link
        padding: 11px 0

        &:not(:last-child)
            margin-right: 22px

        svg
            fill: currentColor

    &__social-contacts
        display: flex
        flex-wrap: wrap
        font-size: 18px
        font-weight: 500
        padding: 5px 0

    &__social-contact-link
        align-items: center
        display: flex
        flex-basis: 100%
        margin-bottom: 10px
        padding: 7px 0
        text-decoration: none

        +media(min-tablet)
            margin-bottom: 0
            flex-basis: auto

        &:not(:last-child)
            margin-right: 40px

    &__social-contact-icon
        fill: $c-gel-white
        height: 24px
        margin-right: 16px
        width: 24px

        +media(min-tablet)
            width: 32px
            height: 32px

    &__nav
        display: flex
        flex-flow: wrap
        margin-top: 8px

    &__nav-link
        &:hover,
        &:focus
            text-decoration: underline

    &__nav-link:not(:last-child)
        margin-right: 16px
</style>
