<script lang="ts" setup>
import { computed, onBeforeMount } from 'vue'
import { useHomeStore } from '../store'
// Index Sections
import RmitoHeroImage from '@/components/RmitoHeroImage'
import RmitoHomeCoreStudyAreas from '@/app/home/components/HomeCoreStudyAreas';
import RmitHomeVideo from '@/app/home/components/HomeVideo';
import RmitoContainer from '@/components/RmitoContainer';
import RmitoSpacer from '@/components/RmitoSpacer';
import RmitoValueProps from '@/components/RmitoValueProps';
import RmitoTestimonials from '@/components/RmitoTestimonials';
import HomeCoursesDesignedByExperts from '@/app/home/components/HomeCoursesDesignedByExperts';

// Mixins
// import { Head } from '@mixins'
// import tealiumUtagSetup from '@mixins/modules/tealium-utag-setup'

const home = useHomeStore()
await home.fetchAll()
</script>

<template lang="pug">
div
    RmitoHeroImage(
        :url="home.masthead.src.mobile"
        :src-tablet="home.masthead.src.tablet"
        :src-desktop="home.masthead.src.desktop"
        :alt="home.masthead.alt"
        no-card
        flip-image)
        //- todo remove the classname when data-cvly attr working
        .rmit-hero-image__info(data-cvly="course-wizard")
    div
        RmitoValueProps.rmit-home__value-props
        
        HomeCoursesDesignedByExperts(
            title="Courses designed by experts"
            :industry-icons="home.logos")

        RmitoHomeCoreStudyAreas

        .legacy-container.legacy-container--no-vertical-padding.legacy-container--no-horizontal-padding-below-xs
            .rmit-home__video
                RmitHomeVideo

        .legacy-container.legacy-container--no-vertical-padding.legacy-container--visible-when-sm-and-up
            RmitoSpacer(limit)


        section.rmit-home__testimonials
            RmitoContainer
                RmitoTestimonials(
                    sectionTitle="What our students are saying"
                    :reviewItems="home.testimonials")
</template>

<style lang="sass">
.img-center
    margin-left: auto
    margin-right: auto

.rmit-home
    &__video
        padding: 48px 0 !important

    &__testimonials
        background-color: $c-gel-lighter-grey
        @include clearfix()

        .rmit-testimonials .rmit-headline
            font-weight: 300

    &__value-props
        padding-top: 0px !important

.legacy-container
    padding: 16px
    width: 100%

    @media(min-width: 960px)
        margin: 0 auto
        max-width: 900px
        padding: 24px

    @media(min-width: 1264px)
        max-width: 1185px

    &--no-vertical-padding
        padding-bottom: 0
        padding-top: 0

    &--no-horizontal-padding-below-xs
        @media(max-width: 599px)
            padding-left: 0
            padding-right: 0

    &--visible-when-sm-and-up
        display: none

        @media(min-width: 600px)
            display: block


.rmit-hero-image
    // minimise convincely layout shift
    min-height: 645px
    @media($min-medium)
        min-height: 592px
</style>
