<template lang="pug">
section.rmit-aos
    rmito-container
        //- //- rmit-course-category-section-header {{ title }}
        .rmit-aos__areas
        
            //- v-ga="{ event: gaEvent }"
            rmito-category-card(
                v-for="area in areas"
                :title="area.label"
                :color="color"
                :href="area.url"
                :description="area.description")
        slot(name="footer")
</template>

<script lang="js">
import RmitoCategoryCard from '@/components/RmitoCategoryCard'
import RmitoContainer from '@/components/RmitoContainer'
// import RmitCourseCategorySectionHeader from '@/app/info-architecture/components/RmitCourseCategorySectionHeader.vue';
import { propertyNames } from '@/utils/prop-types-validator'

export default {
    name: 'RmitAreasOfStudy',

    components: {
        RmitoCategoryCard,
        RmitoContainer,
        // RmitCourseCategorySectionHeader
    },

    props: {
        'title': String,
        'color': String,
        'areas': {
            type: Array,
            validator: propertyNames(
                'label',
                'description',
                'url'
            )
        },
        'ga-event': String
    }
}
</script>

<style lang="sass" scoped>
.rmit-aos
    background: $c-gel-lighter-grey
    padding: var(--section-vertical-spacing) 0

    &__areas
        display: grid
        grid-gap: 20px

        @media($min-medium)
            grid-template-columns: repeat(2, 1fr)

        @media($min-large)
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 40px
</style>
