<template lang="pug">
section
    .rmit-hero-image(:class="classes")
        //- Image
        .rmit-hero-image__image(:class="flipImageClass")
            rmito-responsive-image(
                :src="url"
                :src-desktop="srcDesktop"
                :src-tablet="srcTablet"
                :alt="alt"
                position="top center")

        //- Pixel blocks on the left of the hero image
        .rmit-hero-image__pixels
            rmit-pixel-pattern(rows="8" columns="3")

        //- todo: if we need to bring quotes back, add them as their own component and inject
            into a slot from the parent component instead of overloading how much stuff this
            component is trying to do.
            
        //- location to drop in stuff that shouldn't be wrapped in card + pixel component
        slot(v-if="noCard")

    rmit-hero-detail-card(v-if="!noCard" :pixelColor="pixelColor")
        slot
</template>

<script>
import config from './config.json';
import RmitoResponsiveImage from '@/components/RmitoResponsiveImage';
import RmitPixelPattern from '@/components/RmitoPixelPattern/PixelPattern';
import RmitPixelShape from '@/components/RmitoPixelPattern/PixelShape';
import RmitHeroDetailCard from '@/components/UI/HeroDetailCard/HeroDetailCard.vue'

export default {
    name: 'RmitHeroImage',

    components: {
        RmitoResponsiveImage,
        RmitPixelPattern,
        RmitPixelShape,
        RmitHeroDetailCard
    },

    props: {
        // The hero image source url.
        'no-card': Boolean,
        url: String,
        'src-tablet': String,
        'src-desktop': String,
        alt: String,
        // Colour of the bottom right pixel element.
        'pixel-color': String,
        // Aligns the quote to the left
        'content-left': {
            type: Boolean,
            default: false,
        },
        // Rotates the images X axis.
        'flip-image': {
            type: Boolean,
            default: false,
        },
    },

    setup (props) {
        return {
            ...props
        }
    },

    computed: {
        classes() {
            return [this.addAlignItemsLeftClass];
        },
        // Places a content left class to inherit new stylings and aligns items on the opposite.
        addAlignItemsLeftClass() {
            return this.contentLeft && config.classes.CONTENT_LEFT;
        },
        flipImageClass() {
            return this.flipImage && config.classes.FLIP_IMAGE;
        },
    },
};
</script>

<style src="./HeroImage.sass" lang="sass" scoped></style>
