<template lang="pug">
.rmit-pixel-banner
    .rmit-pixel-banner__row(v-for="row in +rows")
        .rmit-pixel-banner__col(v-for="column in +columns")
            rmit-pixel-shape(small)
</template>

<script lang="js">
import RmitPixelShape from '@/components/RmitoPixelPattern/PixelShape';

/**
 * @deprecated
 * Please use component found at '@/components/RmitoPattern'
 */
export default {
    name: 'RmitPixelPattern',
    components: {
        RmitPixelShape,
    },
    props: {
        rows: {
            type: [Number, String],
            default: 8,
        },
        columns: {
            type: [Number, String],
            default: 3,
        },
    },
};
</script>

<style lang="sass" scoped>
$pixel-desktop: 19px
$pixel-tablet: 15px
$pixel-phone: 11px

.rmit-pixel-banner
	display: flex
	flex-direction: column

	&__row
		display: flex
		margin-bottom: $pixel-desktop

		+media(tablet)
			margin-bottom: $pixel-tablet

		+media(phone)
			margin-bottom: $pixel-phone

	&__col
		margin-right: $pixel-desktop

		+media(tablet)
			margin-right: $pixel-tablet

		+media(phone)
			margin-right: $pixel-phone
</style>
