<template lang="pug">
.pixel-shape(v-if="!small")
    svg(viewBox='0 0 238 238', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(transform='translate(-1631.000000, -629.000000)', :fill='color')
                g(transform='translate(-236.000000, 117.000000)')
                    polygon(
                        transform='translate(1986.000000, 631.000000) rotate(-90.000000) translate(-1986.000000, -631.000000) ',
                        points='2025.66721 512 2025.66721 591.332515 1946.33361 591.332515 1946.33361 670.665849 1867 670.665849 1867 750 2105 750 2105 512')
.pixel-shape-small(v-else)
    svg(viewBox='0 0 26 26', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', opacity='0.329543341')
            g(transform='translate(-114.000000, -246.000000)', fill='#FEFEFE')
                g(transform='translate(-236.000000, 117.000000)')
                    g(transform='translate(0.000000, 129.000000)')
                        polygon(points='367.333333 0 367.333333 8.66414105 358.662879 8.66414105 358.662879 17.335859 350 17.335859 350 26 376 26 376 0')
</template>

<script lang="js">
/**
 * @deprecated
 * Please use component found at '@/components/RmitoPixel'
 */
export default {
    name: 'RmitPixelShape',
    props: {
        small: Boolean,
        color: {
            type: String,
            default: '#0077FF',
        },
    },
};
</script>

<style lang="sass">
$height-desktop: 180px
$height-tablet: 98px

$small-size-desktop: 20px
$small-size-tablet-large: 20px
$small-size-tablet: 18px
$small-size-phone: 14px

.pixel-shape
    +hw($height-desktop)

    +media(tablet)
        +hw($height-tablet)

.pixel-shape-small
    +hw($small-size-desktop)

    +media(tablet-small)
        +hw($small-size-tablet-large)

    +media(tablet)
        +hw($small-size-tablet)

    +media(phone)
        +hw($small-size-phone)
</style>
