<template lang="pug">
component.rmit-tile(
    :is="rootTag")
    .rmit-tile__ribbon(:style="backgroundStyle")
    .rmit-tile__container
        .rmit-tile__info
            h4.rmit-tile__title {{ title }}
            .rmit-tile__description(v-html="description")
        chevron-blue-svg.rmit-tile__icon(v-if="$attrs.href")
</template>

<script lang="js">
import ChevronBlueSvg from '@/static/img/svg/chevron-blue.svg'

const DEFAULT_GRADIENT_COLOR = '#030054' // $c-navy

export default {
    name: 'RmitCategoryCard',

    components: {
        ChevronBlueSvg
    },

    props: {
        'title': {
            type: String,
            required: true
        },
        'color': String,
        'description': String
    },

    computed: {
        backgroundStyle () {
            return {
                background: this.color
                    ? `linear-gradient(${ DEFAULT_GRADIENT_COLOR }, ${ this.color })`
                    : DEFAULT_GRADIENT_COLOR
            }
        },
        rootTag () {
            return this.$attrs.href
                ? 'a'
                : 'div';
        }
    }
}
</script>

<style lang="sass" scoped>
.rmit-tile
    display: flex
    flex-direction: row
    background: white
    border-radius: 4px
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14)
    overflow: hidden
    transition: box-shadow .35s cubic-bezier(.4, 0, .1, 1)

    @media($min-medium)
        @at-root a#{&}
            &:hover,
            &:focus
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12)

    &__ribbon
        width: 10px
        flex-shrink: 0
        flex-grow: 0

    &__info
        padding: 20px

    &__title
        font-weight: normal

    &__icon
        height: 100%
        flex-shrink: 0
        margin-right: 20px

    &__container
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between

    &__description
        height: 75px
        overflow: hidden
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 3
        color: $c-gel-black

        p
            margin-bottom: 0

    @media($min-large)
        &__description
            height: 48px
            -webkit-line-clamp: 2
</style>
