<template lang="pug">
rmito-page-section.rmit-testimonials(
    v-if="shouldRenderComponent"
    :sectionTitle="sectionTitle"
    :sectionDescriptionHtml="sectionDescriptionHtml"
)
    .rmit-testimonials-pod
        rmito-testimonial(
            v-for="reviewItem in reviewItemsToRender"
            :id="reviewItem.id"
            :key="reviewItem.id"
            :image="reviewItem.image"
            :name="reviewItem.name"
            :quote="reviewItem.quote"
            :title="reviewItem.title"
        )
</template>

<script lang="js">
// Component(s)
import RmitoPageSection from '@/components/RmitoPageSection';
import RmitoTestimonial from './RmitoTestimonial';

// Util(s)
import { propertyNames } from '@/utils/prop-types-validator';
import { isArrayAndHasChild } from '@/utils/array';

export default {
    name: 'RmitoTestimonials',

    components: {
        RmitoPageSection,
        RmitoTestimonial
    },

    props: {
        sectionTitle: String,
        sectionDescriptionHtml: String,
        reviewItems: {
            type: Array,
            validator: propertyNames(
                'id',
                'image',
                'name',
                'quote',
                'title'
            )
        }
    },

    computed: {
        shouldRenderComponent() {
            return isArrayAndHasChild(this.reviewItems);
        },
        reviewItemsToRender() {
            return this.reviewItems.slice(0, 2);
        }
    }
}
</script>

<style lang="sass" scoped>
.rmit-testimonials
    ::v-deep
        .rmit-page-section__header,
        .rmit-page-section__description
            text-align: center

            + .rmit-page-section__body
                padding-top: 24px

                @media($min-large)
                    padding-top: 50px

.rmit-testimonials-pod
    margin: 0 auto
    max-width: 1080px
    padding-left: 16px
    padding-right: 16px

    @media($min-medium)
        padding-left: 0
        padding-right: 0

    @media($min-large)
        display: flex
        flex-flow: row wrap
        justify-content: center
        padding-left: 24px
        padding-right: 24px
</style>
