<template lang="pug">
.rmit-testimonial
    //- Top Section
    .rmit-testimonial__header
        //- Avatar Image
        img.rmit-testimonial__image(:src="image" :alt="name")
        //- Person Information
        .rmit-testimonial__info
            p.rmit-testimonial__info--name(v-text="name")
            p.rmit-testimonial__info--title(v-text="title")

    //- Quote section
    blockquote.blockquote.rmit-testimonial__quote(v-html="quote")
</template>

<script lang="js">
export default {
    name: 'RmitoTestimonial',

    props: {
        // The url for the avatar image.
        'image': String,
        // The name of the person giving the testimonial.
        'name': String,
        // The title of the person giving the testimonial.
        'title': String,
        // The quote from the person giving the testimonial.
        'quote': String
    }
}
</script>

<style lang="sass">
$avatar-size: 60px

.rmit-testimonial
    padding: 0px 10px
    width: 50%
    box-sizing: border-box

    +media(tablet)
        width: 100%

    +media(phone)
        width: 100%
        padding: 0

    &__image
        border-radius: 50%
        height: $avatar-size
        width: $avatar-size

    &__header
        display: flex
        align-content: center
        align-items: center
        max-height: 65px
        margin-bottom: 5px

    &__info
        padding-left: 15px
        box-sizing: border-box
        color: $c-navy

        &--name
            font-weight: 400
            font-size: 16px
            margin: 0

        &--title
            font-size: 14px
            margin: 0

    &__quote
        padding-left: 32px !important
        padding-right: 20px !important
        padding-bottom: 0px
        box-sizing: border-box

        &::before
            font-size: 45px !important
            top: 0px !important

        +media(tablet)
            padding-bottom: 20px !important
        +media(phone)
            padding-bottom: 20px !important
</style>
