<template lang="pug">
.hero-detail-card
    rmit-pixel-shape(:color="pixelColor")

    .hero-detail-card__content
        slot
</template>

<script>
import RmitPixelShape from '@/components/RmitoPixelPattern/PixelShape';
/**
 * @author Michael Lewis
 * @date 12/08/2019
 */
export default {
    name: 'RmitHeroDetailCard',

    components: {
        RmitPixelShape,
    },

    props: {
        'pixel-color': String,
    },
};
</script>

<style lang="sass" scoped>
.hero-detail-card
	$desktop-sidepadding: 102px

	position: relative
	max-width: 1240px + ($desktop-sidepadding * 2)
	padding: 16px
	margin: 0 auto

	+media($max: 767px)
		transform: translateY(-60px)
		margin-bottom: -60px

	+media($min: 768px, $max: 959px)
		transform: translateY(-80px)
		margin-bottom: -80px

	+media($min: 960px)
		transform: translateY(-145px)
		margin-bottom: -145px
		padding: 0 48px

	+media($min: 1264px)
		transform: translateY(-200px)
		margin-bottom: -200px
		padding: 0 $desktop-sidepadding

	&__content
		background: white
		padding: 8px

		+media($min: 600px)
			padding: 16px

		+media($min: 960px)
			box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12)
			padding: 40px

	.pixel-shape
		display: none
		position: absolute
		z-index: 1

		+media($min: 600px, $max: 1263px)
			width: 98px
			height: 98px

		+media($min: 600px)
			top: -60px
			right: 42px
			display: block

		+media($min: 600px, $max: 959px)
			right: 40px

		+media($min: 960px, $max: 1263px)
			top: -33px
			right: 15px
</style>
