<template lang="pug">
section.rmit-section(:class="greyBackgroundClass")
    //- Title
    h2.rmit-section__title(v-if="title" v-text="title")
    p.rmit-section__subtitle(v-if="subtitle" v-text="subtitle")
    //- Content
    .rmit-section__content(:style="sectionStyles")
        slot
</template>

<script lang="js">
export default {
    name: 'RmitSection',
    props: {
        title: String,
        subtitle: String,
        'grey-background': Boolean,
        'max-width': {
            type: [Number, String],
            default: 1080,
        },
    },

    computed: {
        greyBackgroundClass() {
            return this.greyBackground && 'rmit-grey';
        },
        sectionStyles() {
            return {
                'max-width': this.maxWidth !== 'none' && this.maxWidth + 'px',
            };
        },
    },
};
</script>

<style lang="sass">
// Section paddings
$padding-desktop: 50px
$padding-tablet: 36px
$padding-phone: 24px

// Title sizes
$title-desktop: 40px
$title-tablet: 32px
$title-phone: 25px

// Subtile sizes
$subtitle-tablet: 24px
$subtitle-phone: 18px

// TODO:
// title sizes above did not apply, apply font-sizes for different breakpoints
// and check to ensure  other components were visually presented expected.
.rmit-section
    padding: $padding-desktop
    width: 100%
    box-sizing: border-box

    &.rmit-grey
        background: $c-gel-lighter-grey

    &__content
        margin: 0 auto

    &__title,
    &__subtitle
        font-weight: 300
        text-align: center

    &__title
        margin-bottom: 50px
        width: 100%

    &__subtitle
        color: $c-gel-dark-grey
        font-size: $subtitle-phone

        +media(min-tablet)
            font-size: $subtitle-tablet

+media(tablet)
    .rmit-section
        padding: $padding-tablet

        &__title
          margin-bottom: $padding-tablet

+media(phone)
    .rmit-section
        padding: $padding-phone

        &__title
          margin-bottom: $padding-phone
</style>
