<template lang="pug">
.rmit-video(:style="sectionStyles")
    .rmit-video__overlay(v-if="!videoPlaying" :style="{ backgroundImage: backgroundImageURL }")
        rmito-video-spinner(v-if="showYoutubeComponent")
        
        a(v-else @click="onPlayButtonClick")
            slot(name="play-button")
                .rmit-video__play-button
                    .rmit-video__triangle
        
        h2.rmit-video__title(
            v-if="title"
            v-text="title"
        )

    //- VIDEO CONTAINER
    .youtube-video-container
        YouTube(

            :src="url"
            ref="youtube"
            @ready="setYoutubeComponentIsReady")
</template>

<script lang="js">
import getYoutubeID from 'get-youtube-id';
import config from './config.json';
import RmitoVideoSpinner from './RmitoVideoSpinner';
import YouTube from 'vue3-youtube';

export default {
    name: 'RmitoVideo',

    components: {
        RmitoVideoSpinner,
        YouTube
    },

    props: {
        image: {
            type: String,
            default: config.poster,
        },
        title: String,
        url: String,
        'max-width': {
            type: [Number, String],
            default: config.maxwidth,
        },
    },

    data() {
        return {
            videoPlaying: false,
            youtubeVideoIsReady: false,
            showYoutubeComponent: false,
        };
    },

    computed: {
        youtubeID() {
            return getYoutubeID(this.url);
        },
        sectionStyles() {
            return {
                'max-width': `${this.maxWidth}px`,
            };
        },
        backgroundImageURL() {
            const img = 'https://img.youtube.com/vi/VIDEO_ID/hqdefault.jpg'
            return `url("${this.image.replace('VIDEO_ID', this.youtubeID)}")`;
        },
    },

    methods: {
        onPlayButtonClick() {
            if (this.showYoutubeComponent && this.youtubeVideoIsReady && this.$refs.youtube) {
                this.playVideo();
            } else {
                this.waitUntilVideoLoads();
            }
        },

        playVideo() {
            this.$refs.youtube.playVideo();
            this.videoPlaying = true;
            this.$emit('playing');
        },

        setYoutubeComponentIsReady() {
            this.youtubeVideoIsReady = true;
        },

        waitUntilVideoLoads() {
            this.showYoutubeComponent = true;

            const exists = setInterval(() => {
                if (this.youtubeVideoIsReady) {
                    this.playVideo();
                    clearInterval(exists);
                }
            }, 100);
        },
    },
};
</script>

<style lang="sass" scoped>
:deep(iframe)
    position: absolute !important
    top: 0
    height: 100% !important
    width: 100% !important

.youtube-video-container
    +hw(0, 100%)
    // Mobile aspect ratio is 4:3
    padding-top: 75%
    position: relative

    // To maintain aspect ratio of 16:9
    +media(min-tablet)
        padding-top: 56.25%

    div
        position: absolute !important
        top: 0
        height: 100% !important
        width: 100% !important

// Video styling
.rmit-video
    +hw
    position: relative
    margin: 30px auto

    &__overlay
        +hw
        +pos
        display: flex
        align-items: center
        justify-content: center
        background-size: cover
        background-position: center
        z-index: 1

    &__title
        cursor: default
        pointer-events: none
        display: flex
        align-items: flex-end
        width: 100%
        bottom: 0
        padding: 24px
        position: absolute
        background-color: rgba(0,0,0,0.5)
        color: white
        font-weight: normal
        font-size: 22px
        line-height: normal

        +media(min-tablet)
            font-size: 32px


    // Styling for the play button and triangle.
    &__play-button
        +hw(60px)
        z-index: 11
        cursor: pointer
        background: rgba(255, 255, 255, 0.85)
        border-radius: 50%
        padding-left: 4px
        display: flex
        align-items: center
        justify-content: center
        box-shadow: 10px 10px 37px -17px rgba(0,0,0,0.75)
        transition: all 0.4s

        &:hover
            background: white
            box-shadow: 10px 10px 50px -17px rgba(0,0,0, 1)
            transform: scale(1.05)

            .triangle
                transform: rotate(30deg) skewX(-30deg) scale(1.05,.916)

            &:active
                background: $c-gel-lighter-grey
                transform: scale(0.95)

    &__triangle
        position: relative
        pointer-events: none
        background-color: $c-gel-black
        text-align: left
        transform: rotate(30deg) skewX(-30deg) scale(1,.866)
        transition: all 0.5s
        &:before
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%)

        &:after
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%)

        &, &:before, &:after
            +hw(12px)
            border-top-right-radius: 30%

        &:before, &:after
            content: ''
            position: absolute
            background-color: inherit

        &:active
            background-color: #3e8e41
            box-shadow: 0 5px #666
            transform: translateY(4px)
</style>
