<template lang="pug" >
svg.rmit-video-spinner(viewBox="0 0 50 50")
    circle.rmit-video-spinner__circle(cx="25" cy="25" r="20" fill="none" stroke-width="5")
</template>

<script lang="js">
// This spinner is used for the rmit-video component to mimic YouTube's spinner
// Check FOYA-989 for more details
export default {
    name: 'RmitoVideoSpinner'
}
</script>

<style lang="sass" scoped>
.rmit-video-spinner
    --spinner-size: 75px
    --spinner-offset: calc( (var(--spinner-size) / 2) * -1 )
    $size: var(--spinner-size)
    $margin: var(--spinner-offset)

    z-index: 200
    position: absolute
    top: 50%
    left: 50%
    margin: $margin 0 0 $margin
    width: $size
    height: $size
    animation: rotate 2s linear infinite

    &__circle
        stroke: white
        stroke-width: 4px
        animation: dash 1.5s ease-in-out infinite

@keyframes rotate
    100%
        transform: rotate(360deg)

@keyframes dash
    0%
        stroke-dasharray: 1, 150
        stroke-dashoffset: 0
    50%
        stroke-dasharray: 90, 150
        stroke-dashoffset: -35
    100%
        stroke-dasharray: 90, 150
        stroke-dashoffset: -124
</style>
