<template lang="pug">
#app(data-app)
    .app-wrapper
        //- a.rmit-skip-link(href="#main-content") Skip to main content
        //- .rmit-header-container
        //-     Toolbar
        //-     Header(@menu="handlerMenu")

        //- .rmit-header-banner-bar
        //-     rmito-breadcrumb(
        //-         v-if="showBreadcrumb"
        //-         :trails="trails")
        //-     rmito-header-banner(
        //-         v-else
        //-         :primary-text="globalConfig.HEADER_BANNER.PRIMARY_TEXT"
        //-         :text="globalConfig.HEADER_BANNER.SECONDARY_TEXT")

        //- search
        
        //- personalisation-banner
        //- global-banner

        main
            .main-wrapper(data-cvly="page")
                #main-content.rmit-app
                    //- mobile-menu-modal(:show="showPhoneSidebar" @overlay="handlerMenu")
                    //-     mobile-menu(:items="mobileMenu")
                    //-     Toolbar(stacked)
                slot
        Footer
</template>

<script>
// import RmitoBreadcrumb from '@/components/RmitoBreadcrumb';
// import RmitoHeaderBanner from '@/components/RmitoHeaderBanner';
// import PersonalisationBanner from '@/modules/PersonalisationBanner';
// import Search from '@/modules/Search';
// import Toolbar from '@/modules/Toolbar';
// import Header from '@/modules/Header';
import Footer from '~~/modules/Footer';
// import GlobalBanner from '@/modules/GlobalBanner';
// import MobileMenu from '@/modules/MobileMenu';
// import MobileMenuModal from '@/modules/MobileMenu/components/MobileMenuModal';

// import globalConfig from '@/global.config.json';
// import { isArrayAndHasChild } from '@utils/array';

export default {
    components: {
        // RmitoBreadcrumb,
        // RmitoHeaderBanner,
        // Toolbar,
        // PersonalisationBanner,
        // Search,
        // Header,
        // GlobalBanner,
        Footer,
        // MobileMenu,
        // MobileMenuModal,
    },

    data() {
        return {
            // globalConfig,
            isRedirecting: false,
        };
    },

    computed: {
        // mobileMenu() {
        //     return this.$store.getters.mobileMenu;
        // },
        // showBreadcrumb() {
        //     return isArrayAndHasChild(this.trails);
        // },
        // trails() {
        //     return this.$store.state.breadcrumb.trails;
        // },
        // showPhoneSidebar() {
        //     return this.$store.state.menu.mobileSidebarMenu;
        // },
        // showSearch() {
        //     return this.$store.state.search.show;
        // },
        // searchSuggestions() {
        //     return this.$store.state.search.suggestions;
        // },
    },

    mounted() {
        // this.$store.dispatch('fetchLatestMainMenu');
    },

    methods: {
        handlerMenu() {
            // this.$store.dispatch('toggleMobileSidebarMenu');
        },
    },
};
</script>
<style lang="sass">
.rmit-header-container
	position: fixed
	top: 0
	z-index: 200
	width: 100%

	// Only display secondary menu bar for desktop
	.rmit-menu-secondary
		display: none !important

		@media($min-large)
			display: flex !important

.rmit-header-banner-bar
	align-content: center
	background: $c-blue-dark
	color: $c-gel-white
	display: flex
	font-size: 15px
	padding: 10px $g-gutter
	width: 100%

.rmit-app
	// Legacy Styles for old variation
	.legacy-rmit-menu
		padding-top: $g-gutter

	.legacy-rmit-menu-item
		color: inherit
		display: block
		font-size: 1.73em
		font-weight: 400
		margin-bottom: .61em
		padding: 0 .92em

.rmit-skip-link
	background: $c-blue-dark
	bottom: 40px
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 0 2px 0 rgba(0, 0, 0, .12)
	clip: rect(1px, 1px, 1px, 1px)
	color: white
	font-size: 24px
	height: 1px
	left: 50%
	overflow: hidden
	padding: .5em 1em
	position: fixed
	transform: translateX(-50%)
	white-space: nowrap
	width: 1px
	z-index: 9999

	&:focus
		clip: auto
		height: auto
		overflow: visible
		white-space: normal
		width: auto

.rmito-search
	z-index: 100
	position: fixed
	top: var(--nav-primary-height)
	left: 0

	@media($min-large)
		top: calc(var(--nav-primary-height) + var(--nav-secondary-height))
</style>
