<template lang="pug" >
.rmito-value-prop
    .rmito-value-prop__icon
        slot
    h2.rmito-value-prop__title {{ title }}
    p.rmito-value-prop__body {{ body }}
</template>

<script lang="js">

export default {
    name: 'RmitoValueProp',

    props: {
        title: String,
        body: String
    }
}
</script>

<style lang="sass" scoped>
.rmito-value-prop
    text-align: center

    &__icon
        margin-bottom: 10px

    &__title,
    &__body
        font-weight: normal

    &__title
        font-size: 24px
        margin-bottom: 10px

    &__body
        font-size: 20px
        line-height: 1.5
</style>
