<template lang="pug">
div(id="host")
    nuxt
</template>

<script>
export default {
    head() {
        return {
            meta: [{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' }],
        };
    },
};
</script>

<style lang="sass" scoped>
// work around the fact that vue doesn't have the concept of :host and :root outside of a scoped element will break every other page
#host
    margin-top: calc(0px - #{var(--nav-primary-height)})
    +media(min-desktop)
        margin-top: calc( 0px - #{var(--nav-primary-height)} - #{var(--nav-secondary-height)} )
</style>
