<script lang="ts" setup>
import RmitoImage from '@/components/RmitoImage';
import RmitoSection from '@/components/RmitoSection';

interface Props {
    title: string
    industryIcons: {
        alt: string,
        url: string
    }[]
}

const props = withDefaults(defineProps<Props>(), {
    title: 'Courses designed by experts'
})
</script>

<template lang="pug">
RmitoSection(
    :title="props.title")
    ul.courses-designed-by-experts__industry-icons
        li.courses-designed-by-experts__industry-icon(
            :key="index"
            v-for="(logo, index) in props.industryIcons")
            RmitoImage.img-center(
                :alt="logo.alt"
                :src="logo.url"
                max-width="90")
</template>

<style lang="sass" scoped>
$tablet-side-padding: 62px

:deep(.rmit-section__title)
    +media($min: 960px)
        margin-bottom: 32px

.courses-designed-by-experts
    &__industry-icons
        display: flex
        flex-flow: row wrap
        justify-content: center
        list-style: none
        padding-left: 0

        +media(tablet)
            padding-left: $tablet-side-padding
            padding-right: $tablet-side-padding

        +media(min-desktop)
            margin: 0 auto
            max-width: 814px

    &__industry-icon
        flex-basis: 50%
        padding: 8px 16px
        height: 50px

        +media(min-tablet)
            flex-basis: 33.33%

        +media($min: 960px)
            flex-basis: 25%

        +media(min-desktop)
            flex-basis: 16.66%
</style>
