<template lang="pug">
rmit-online-svg.rmit-online-logo(:class="variantClass")
</template>

<script>
// import { oneOf } from '@utils/prop-types-validator';
import RmitOnlineSvg from '@/static/img/logos/rmit-online.svg';

const DEFAULT_VARIANT = 'dark';

export default {
    name: 'RmitOnlineLogo',
    components: {
        RmitOnlineSvg,
    },
    props: {
        variant: {
            type: String,
            default: DEFAULT_VARIANT,
            validator: variant => [DEFAULT_VARIANT, 'light'].includes(variant)
        },
    },
    computed: {
        variantClass() {
            return `rmit-online-logo--${this.variant}`;
        },
    },
};
</script>

<style lang="sass" scoped>
:deep(.rmit-online_svg__icon),
:deep(.rmit-online_svg__bg)
    fill: $c-cherry-red

:deep(.rmit-online_svg__online)
    fill: $c-gel-white

.rmit-online-logo
    max-width: 130px

    @media($min-small)
        min-width: 160px

    &--light
        :deep(.rmit-online_svg__rmit)
            fill: $c-gel-white

    &--dark
        :deep(.rmit-online_svg__rmit)
            fill: $c-blue-dark
</style>
