<template lang="pug">
rmito-image.rmit-responsive-image(

    :src="src" 
    :alt="alt"
    :position="position"
    :img-tag="!useBackground"
    @image-loaded="onImageLoaded"
    @image-error="onImageError")
</template>

<script lang="js">
import RmitoImage from '@/components/RmitoImage'
import { debounce } from '@/utils/helpers'
import { BREAKPOINTS } from '@/utils/enums'

export default {
    name: 'RmitoResponsiveImage',

    components: {
        RmitoImage
    },

    props: {
        'src': String,
        'src-tablet': String,
        'src-desktop': String,
        'alt': {
            type: String,
            default: ''
        },
        'position': String,
        'use-background': {
            type: Boolean,
            default: true
        }
    },

    data () {
        return {
            imageSrc: ''
        }
    },

    beforeMount () {
        window.addEventListener('resize', this.resizeHandler())
    },

    mounted () {
        if (this.src && this.src !== '') {
            this.setImageSrc()
        }
        else {
            this.onImageError()
        }
    },

    destroyed () {
        window.removeEventListener('resize', this.resizeHandler())
    },

    methods: {
        resizeHandler () {
            return debounce(this.setImageSrc)
        },

        onImageError (e) {
            this.$emit('error', e)
        },

        onImageLoaded () {
            this.$emit('loaded')
        },

        setImageSrc () {
            const windowWidth = window.innerWidth
            let src = this.src

            if (windowWidth >= BREAKPOINTS.MEDIUM && windowWidth < BREAKPOINTS.LARGE && this.srcTablet) {
                src = this.srcTablet
            }

            if (windowWidth >= BREAKPOINTS.LARGE && this.srcDesktop) {
                src = this.srcDesktop
            }

            this.imageSrc = src
        }
    }
}
</script>
