<template lang="pug">
component.rmit-headline(
    :is="headline"
    :class="klass")
    slot
</template>

<script>
export default {
    name: 'RmitoHeadline',

    props: {
        tag: {
            type: Number,
            validator: (val) => val >= 1 && val <= 6,
        },
        level: {
            type: Number,
            default: 1,
            validator: (val) => val >= 1 && val <= 3,
        },
    },

    computed: {
        klass() {
            return `rmit-headline--${this.level}`;
        },
        headline() {
            return `h${this.tag || this.level}`;
        },
    },
};
</script>

<style lang="sass" scoped>
.rmit-headline
    color: $c-blue-dark
    font-weight: normal

    &--1
        font-size: 3.72rem

    &--2
        font-size: 2.29rem

    &--3
        font-size: 1.72rem
</style>
