<template lang="pug">
img.rmito-image(
    v-if="imgTag && src" 
    ref="image"
    :src="src" 
    :alt="alt"
    :style="styles")

.rmito-image(
    v-else
    role="image" 
    :alt="alt" 
    ref="image"
    :style="styles")
</template>

<script lang="js">
/**
 * This image component currently implements
 * an image source through the use of a background-image
 * style attribute.
 */
export default {
    name: 'RmitoImage',

    props: {
        src: {
            type: String,
            required: true,
        },
        alt: {
            type: String,
            required: true,
        },
        position: {
            type: String,
            default: 'center center',
        },
        size: {
            type: String,
            default: 'cover',
        },
        'img-tag': {
            type: Boolean,
            default: false,
        },
        'max-width': [String, Number],
        'max-height': [String, Number],
    },

    computed: {
        styles () {
            const styles = {}

            if (!this.imgTag) {
                styles.backgroundImage = `url("${ this.src }")`;
                styles.backgroundSize = this.size;
                styles.backgroundPosition = this.position;
            }

            if (this.maxWidth) {
                styles.maxWidth = this.maxWidth + 'px';
            }

            if (this.maxHeight) {
                styles.maxHeight = this.maxHeight + 'px';
            }

            return styles
        }
    },

    mounted () {
        this.$emit('image-loaded');
    },
};
</script>

<style lang="sass" scoped>
.rmito-image
    height: 100%
    width: 100%
    opacity: 1
    background-repeat: no-repeat
</style>
