<template lang="pug">
.rmit-page-section
    rmito-headline.rmit-page-section__header(
        v-if="sectionTitle"
        :level="2"
    ) {{ sectionTitle }}
    .rmit-page-section__description(
        v-if="sectionDescriptionHtml"
        v-html="sectionDescriptionHtml"
    )
    .rmit-page-section__body
        slot
</template>

<script lang="js">
import RmitoHeadline from '@/components/RmitoHeadline';

export default {
    name: 'RmitoPageSection',

    components: {
        RmitoHeadline,
    },

    props: {
        sectionTitle: String,
        sectionDescriptionHtml: String,
    },
};
</script>

<style lang="sass" scoped>
.rmit-page-section
    margin-bottom: var(--section-vertical-spacing)
    margin-top: var(--section-vertical-spacing)

    &__header,
    &__description
        + .rmit-page-section__body
            padding-top: 20px

            @media($min-medium)
                padding-top: 30px

    &__header
        + .rmit-page-section__description
            margin-top: 10px

    &__description
        color: $c-gel-black

        ::v-deep
            img
                max-width: 100%
</style>
