//- ALIGNING CONTNENT TO THE LEFT
.rmit-hero-image.content-left
    .rmit-hero-image
        &__pixels
            right: 16px
            left: unset

        &__info
            right: unset
            left: 25%
            transform: translateX(-50%)
            &.content-left
                +media($size: t, $min: 1024px, $max: 1200px)
                    left: 0
                    transform: none
                +media(tablet)
                    bottom: -65px
                    left: 0
                    transform: none
                +media(phone)
                    left: unset
                    transform: none

        &__pixel
            margin-left: 0
            margin-right: $info-size-desktop
            transform: scaleX(-1)

        &__quote
            margin-left: auto

        +media(tablet)
            &__quote
                margin-left: 99px