<script lang="ts" setup>
import { ref } from 'vue'
import { useHomeStore } from '../../store'
import RmitoVideo from '@/components/RmitoVideo';

const home = useHomeStore()
const videoClicked = ref(false)

function onVideoPlaying () {
    // Prevent the event from firing multiple times
    // eg. when user hits pause then play
    if (!videoClicked.value) {
        videoClicked.value = true
        // this.$rmitoAnalytics.event('clickPlayHomeVideo')
    }
}
</script>

<template lang="pug">
RmitoVideo(
    :image="home.video.poster"
    :title="home.video.title"
    :url="home.video.url"
    @playing="onVideoPlaying")
</template>
