// Setup
@import '~assets/sass/main'
@import './styles/variables'
// Styling
@import './styles/content-left.sass'

.rmit-hero-image
    position: relative
    margin-bottom: $info-offset
    height: 525px
    +media(tablet)
        height: 408px
    +media(phone)
        height: 300px

    &__image
        height: 100%
        width: 100%

        &.flip-image
            transform: scaleX(-1)

        .rmito-image
            height: 100%

    &__pixels
        position: absolute
        left: 16px
        top: 50%
        transform: translateY(-50%)

        ::v-deep
            g
                opacity: 1

    //- PHONE
    +media(phone)
        margin-bottom: $image-phone-offset * 2

        &__pixels
            left: 0
            top: 5px
            transform: translateY(0%)